ul {
  list-style: none;
  font-family: Arial Black;
  color: blue;
  transition: all 2s;
}

li {
  margin-bottom: 2rem;
  text-align: center;
  transition: all 2s;
}

li:hover {
  color: black;
  transition: all 2s;
}


li img {
  display: none;
  transition: all 2s;
}

li:hover img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all 2s;
}